#main_product{
        margin-top: 4rem;
    .page_header{
        margin: 1.2rem;
        border-radius: .4rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(2, 0, 14);
        text-shadow: rgb(0, 255, 0) 1px 0 10px;
    }
    .card_list{
        display: flex;
    }
}